<style>
    .message-content {
        font-size: 20px;
        line-height: 30px;
    }
</style>
<div class="message-content">
    <p>Hi!. <%= @name %>!!! </p>
    <p>Please click on the link bellow to reset your password</p>
    <p><a href={@url}>Reset Password</a></p>
    <p>Thanks!!
        <strong>Rent Project</strong>
    </p>
</div>
